@using CorTabernaclChoir.Extensions
@model CorTabernaclChoir.Common.Models.ContactEmail
    
<br />

@using (Html.BeginForm("AddEmailAddress", "Admin"))
{
    @Html.Label("Add a new address:")
    @Html.AntiForgeryToken()
    <div class="row form-group">
        <div class="col-xs-12">
            @Html.TextBoxFor(m => m.Address, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.DisplaySaveButton(null, "Add", "primary", "plus-sign")
        </div>
    </div>
   
}

