@using CorTabernaclChoir.Extensions
@model CorTabernaclChoir.Common.ViewModels.AdminViewModel

<div class="row">
    <div class="col-xs-12">
        <p>While logged in as an Administrator you should see Edit buttons on each page of the site. Click these to edit the content of each page.</p>
    </div>
</div>

<hr />

<div class="row">
    
    <div class="col-md-6">
        
        <p>Contact email addresses are currently forwarded to the following addresses:</p>
        
        <ul class="list-unstyled">
            @foreach (var item in Model.ForwardingEmailAddresses)
            {
                <li class="spaced">
                    @using (Html.BeginForm("RemoveForwardingEmailAddress", "Admin"))
                    {
                        <div class="row">
                            <div class="col-xs-9">
                                @Html.Hidden("email", item)
                                @Html.DisplayFor(m => item)
                            </div>
                            <div class="col-xs-3 text-right">
                                @Html.DisplaySaveButton(null, "Remove", "primary", "trash")
                            </div>
                        </div>
                    }
                </li>
            }
            <li>
                @using (Html.BeginForm("AddForwardingEmailAddress", "Admin"))
                {
                    <div class="row">
                        <div class="col-xs-9">
                            @Html.TextBox("email", null, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-3 text-right">
                            @Html.DisplaySaveButton(null, "Add New", "primary", "plus-sign")
                        </div>
                    </div>
                }
            </li>
        </ul>

    </div>
    
</div>