@using CorTabernaclChoir.Extensions
@model CorTabernaclChoir.Common.Models.ContactEmail


<p>Are you sure you want to stop emails being forwarded to the following address?</p>

@Html.DisplayFor(m => m.Address)

<br />
<br />

@using (Html.BeginForm("ConfirmRemoveEmailAddress", "Admin"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    
    <div class="form-actions">
        @Html.DisplaySaveButton(null, "Delete")
        @Html.DisplayCancelButton(Url.Action("Index", "Admin"))
    </div>
}