@model CorTabernaclChoir.Common.ViewModels.AboutViewModel
@using CorTabernaclChoir.Extensions
@using CorTabernaclChoir.Common

<p>
    @Html.Markdown(Model.AboutChoir)
</p>

<hr />

<div class="row">

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>@Resources.AboutMusicalDirector</h4>
                </div>
            </div>
            <div class="panel-body">
                <p>
                    @Html.Markdown(Model.AboutMusicalDirector)
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4>@Resources.AboutAccompanist</h4>
                </div>
            </div>
            <div class="panel-body">
                <p>
                    @Html.Markdown(Model.AboutAccompanist)
                </p>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-12">
        @Html.DisplayEditButton(Url.Action("Edit", "About"))
    </div>
</div>