@model CorTabernaclChoir.Common.ViewModels.HomeViewModel
@using CorTabernaclChoir.Extensions

<div class="row">
    <div class="col-xs-12">
        @Html.Markdown(Model.MainText)
    </div>
</div>
<br />

<div class="row text-center">
    <div class="col-xs-12">
        <img src="~/Images/home.jpg" />
    </div>
</div>
<br />
<div class="row text-center">
    <div class="col-xs-12">
        @Html.LabelFor(m => m.MusicalDirector): @Html.DisplayFor(m => m.MusicalDirector)
    </div>
</div>
<div class="row text-center">
    <div class="col-xs-12">
        @Html.LabelFor(m => m.Accompanist): @Html.DisplayFor(m => m.Accompanist)
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @Html.DisplayEditButton(Url.Action("Edit", "Home"))
    </div>
</div>