@model CorTabernaclChoir.Common.ViewModels.SidebarViewModel

@using CorTabernaclChoir.Common
@using CorTabernaclChoir.Extensions

<div class="panel panel-default">
    <div class="panel-body">
        <p>@Html.DisplayFor(m => m.ContactInformation)</p>
        
        <ul class="list-unstyled list-inline">
            @foreach (var item in Model.SocialMediaLinks)
            {
                <li class="no-padding">
                    <a href="@item.Url" target="_blank" title="@item.Text">
                        <img src="@Url.Action("Get", "Image", new {id = item.ImageFileId})" width="50" height="50"/>
                    </a>
                </li>
            }
        </ul>
        
        <div class="row">
            <div class="col-xs-12">
                @Html.DisplayEditButton(Url.Action("Index", "SocialMedia"), null, "Edit Social Media Links")
            </div>
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h4>@Resources.SidebarUpcomingEvents</h4>
    </div>
    <div class="panel-body">
        
        @if (!Model.UpcomingEvents.Any())
        {
            <p>@Resources.SidebarNoEvents</p>
        }
        else
        {
            <ul class="list-unstyled">

                @foreach (var item in Model.UpcomingEvents)
                {
                    <li>
                        @Html.DisplayDateFor(m => item.Date)<br />
                        @Html.ActionLink(item.Title, "Item", "Events", new { id = item.Id }, null)
                    </li>
                }

            </ul>
        }
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>@Resources.SidebarLatestNews</h4>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled">

            @foreach (var item in Model.LatestNews)
            {
                <li class="spaced">
                    @Html.DisplayDateFor(m => item.Published)<br/>
                    @Html.ActionLink(item.Title, "Item", "News", new {id = item.Id}, null)
                </li>
            }

        </ul>

        <small>
            @Html.ActionLink(Resources.SidebarNewsLink, "Index", "News", new { page = 1 }, null)
        </small>
    </div>
</div>