@using CorTabernaclChoir.Common

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="@(ViewBag.MenuTitle == Resources.MenuHome ? "active" : "")">
                    @Html.ActionLink(Resources.MenuHome, "Index", "Home")
                </li>
                <li class="@(ViewBag.MenuTitle == Resources.MenuAbout ? "active" : "")">
                    @Html.ActionLink(Resources.MenuAbout, "Index", "About")
                </li>
                <li class="@(ViewBag.MenuTitle == Resources.MenuNews ? "active" : "")">
                    @Html.ActionLink(Resources.MenuNews, "Index", "News", new { page = 1 }, null)
                </li>
                <li class="@(ViewBag.MenuTitle == Resources.MenuRecordings ? "active" : "")">
                    @Html.ActionLink(Resources.MenuRecordings, "Index", "Recordings")
                </li>
                <li class="@(ViewBag.MenuTitle == Resources.MenuWorks ? "active" : "")">
                    @Html.ActionLink(Resources.MenuWorks, "Index", "Works")
                </li>
                <li class="@(ViewBag.MenuTitle == Resources.MenuVisits ? "active" : "")">
                    @Html.ActionLink(Resources.MenuVisits, "Index", "Visits", new { page = 1 }, null)
                </li>
                <li class="@(ViewBag.MenuTitle == Resources.MenuGallery ? "active" : "")">
                    @Html.ActionLink(Resources.MenuGallery, "Index", "Gallery")
                </li>
                <li class="@(ViewBag.MenuTitle == Resources.MenuJoin ? "active" : "")">
                    @Html.ActionLink(Resources.MenuJoin, "Index", "Join")
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="@ViewBag.TranslatedRoute">@(Resources.SwitchLanguageLabel)</a>
                </li>
            </ul>

        </div>
    </div>
</nav>