@using CorTabernaclChoir.Common

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> @Resources.Title | @ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/toastr")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    @Html.Action("Banner", "Layout")
    @Html.Partial("_HeaderMenu")
    <div class="container-fluid body-content">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="well well-sm text-center">
                    <h4>@ViewBag.Title</h4>
                </div>
                @RenderBody()
            </div>
            <div class="col-md-4 col-lg-3">
                @Html.Action("Sidebar", "Layout")
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Resources.Title</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/toastr")

    @RenderSection("scripts", required: false)
    
    @Html.Partial("_Message")

</body>

</html>
