@model CorTabernaclChoir.Common.ViewModels.SidebarViewModel

@using CorTabernaclChoir.Common
@using CorTabernaclChoir.Extensions

<div class="panel panel-default">
    <div class="panel-body">
        <p>@Html.DisplayFor(m => m.ContactInformation)</p>
        
        @foreach (var item in Model.SocialMediaLinks)
        {
            <div class="row">
                <div class="col-xs-6">
                    <a href="@item.Url" target="_blank" title="@item.Name">
                        @Html.DisplayFor(m => item.Name)
                    </a>
                </div>
                <div class="col-xs-6 pull-right text-right">
                    @Html.DisplayEditButton(Url.Action("Edit", "SocialMedia", new { id = item.Id }))
                    @Html.DisplayDeleteButton(Url.Action("Delete", "SocialMedia", new { id = item.Id }))
                </div>
            </div>
        }
        
        <div class="row">
            <div class="col-xs-12">
                @Html.DisplayAddButton(Url.Action("Add", "SocialMedia"), null, "Add Social Media Link")
            </div>
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h4>@Resources.SidebarUpcomingEvents</h4>
    </div>
    <div class="panel-body">
        
        @if (!Model.UpcomingEvents.Any())
        {
            <p>@Resources.SidebarNoEvents</p>
        }
        else
        {
            <ul class="list-unstyled">

                @foreach (var item in Model.UpcomingEvents)
                {
                    <li>
                        @Html.DisplayDateFor(m => item.Date)<br />
                        @Html.ActionLink(item.Title, "Item", "Events", new { id = item.Id }, null)
                    </li>
                }

            </ul>
        }
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>@Resources.SidebarLatestNews</h4>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled">

            @foreach (var item in Model.LatestNews)
            {
                <li class="spaced">
                    @Html.DisplayDateFor(m => item.Published)<br/>
                    @Html.ActionLink(item.Title, "Item", "News", new {id = item.Id}, null)
                </li>
            }

        </ul>

        <small>
            @Html.ActionLink(Resources.SidebarNewsLink, "Index", "News")
        </small>
    </div>
</div>